body {
    background-color: black;
    
    
}

ul{
  padding:0;
  margin:0;
  display:flex; 
  align-items:center;
  justify-content: center;
}
ul li{
  list-style:none;
}

ul li a{
  text-decoration:none;
  color:#4d4d4d;
  font-size:21px;
  display:block;
  padding:5px 10px;
  position:relative;
  text-transform:uppercase;
  margin:0 10px;
  transition: all .5s;
} 
a:hover{
  background-color:#e91e63;
  color:white;
}
a:before{
  content:'';
  position:absolute;
  bottom:12px;
  left:12px;
  width:12px;
  height:12px;
  border:3px solid #e91e63;
  border-width:0 0 3px 3px;
  opacity:0;
  transition:all 0.3s;
}
a:hover:before{
  opacity:1;
  bottom:-7px;
  left:-7px;
}
a:after{
  content:'';
  position:absolute;
  top:12px;
  right:12px;
  width:12px;
  height:12px;
  border:3px solid #e91e63;
  border-width:3px 3px 0 0;
  opacity:0;
  transition: all 0.3s;
}
a:hover:after{
  opacity:1;
  top:-7px;
  right:-7px;
}




.brand-name{
    text-align: center;
    font-size: 100px;
    color: white;
    font-weight: bold;
    margin-top: 300px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Playfair Display SC', serif;
}


.card-container,
.create-card,
.card-image,
.card-content,
.card-action,
.card-title {
  background-color: white;
}